@page "/"

<PageTitle>Home</PageTitle>

<h1>This will be the home page content.</h1>

<br/>

<p> I knows what you're thinking: </p>

<em>Where the hell is the content?</em>

<p> 
    Well, I don't know what will go here just yet.  But you just 
    gotta believe me when I say that there <b>WILL</b> be content here.
    It's just not here yet.
</p>

<br />

<p>YOU HAVE BEEN VISITED BY LE HAF</p>

<video width="200" height="220">
    <source src="/Videos/LeHaf.mp4" />
</video>

<p>TYPE "<span class="o-text">Brewski</span>" TO AFFIRM 1 BILLION BEERS.</p>

<br />
