@*

    Header found at the top of every web page

*@


<table>

    <tr>

        <td style="width:16%;">
            <a href="#">
                <img 
                    class="logo" 
                    src="/Images/SHSULogo.jpg" 
                    title="SHSU Powerlifting home page"    
                />
            </a>
        </td>

        <td class="header-section">
            <h5 class="o-text" style="margin-left:80px">RECRUITMENT</h5>
        </td>

        <td class="header-section">
            <a href="">
                <h5>ROSTER</h5>
            </a>
        </td>

        <td class="header-section">
            <h5>ABOUT</h5>
        </td>

        <td class="header-section">
            <h5>RECORDS</h5>
        </td>

        <td class="header-section">
            <h5>GALLERY</h5>
        </td>

        <td class="header-section">
            <h5>JUDGING</h5>
        </td>

        <td class="header-section">
            <h5>SPONSORING</h5>
        </td>

    </tr>

</table>

<div id="line-1"></div>     <!-- Horizontally spanning gradient line -->

